
<div class="jumbotron" id="head">
   <img id="krabby-patty" class="img-fluid rounded mx-auto d-block" src="assets/images/spongebob-plankton-krabby-patty.jpg" alt="Krabby Patty">
  <header class="container text-center">
    <h1>Munch Da Burger</h1>
  </header>
</div>

<div class="container-fluid">
    <div id="burger-input" class="jumbotron">
      <div class="container">
        <form>
          <div class="form-group">
            <label for="new-burger">Create Your Burger</label>
            <input type="text" class="form-control" id="burger-name" aria-describedby="burgerHelp"
              placeholder="Burger name">           

            <button id="submit-burger" type="button" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
     
    </div>

  <div class="row">

    <div id="not-devoured" class="col-md-6">
      <div class="card bg-light text-center">
        <h2>Burgers Ready for Devouring</h2>

        <div class="card">
          <ul class="list-group list-group-flush text-left">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block}}
            {{/unless}}
            {{/each}}
          </ul>
        </div>

      </div>
    </div>

    <div id="devoured" class="col-md-6">
      <div class="card bg-light text-center">
        <h2>Burgers Devoured</h2>

        <div class="card">
          <ul class="list-group list-group-flush text-left">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block}}
            {{/if}}
            {{/each}}
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>